<%= form_for [@customer, @interaction] do |f| %>
  <% if @interaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@interaction.errors.count, "error") %> prohibited this interaction from being saved:</h2>

      <ul>
      <% @interaction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :time %><br>
    <%= f.datetime_select :time %>
  </div>
  <div class="form-group">
    <%= f.label :mode %><br>
    <%= f.select :mode, options_for_select(Interaction.modes.map {|j,k| [j.humanize, j]}, @interaction.mode), class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :description %><br>
    <%= f.text_area :description, class: 'form-control' %>
  </div>
  <div class="actions">
    <%= f.submit class: 'btn btn-success' %>
    <%= link_to 'Back', customer_interactions_path(@customer), class: 'btn btn-default' %>
  </div>
<% end %>
