<%= form_for(@customer) do |f| %>
  <% if @customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% @customer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: 'form-control', required: true %>
  </div>
  <div class="form-group">
    <%= f.label :next_contact %><br>
    <%= f.datetime_select :next_contact %>
  </div>
  <div class="form-group">
    <%= f.label :quality %><br>
    <%= f.number_field :quality, in: [1, 10], class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :city_country, 'City, Country (e.g. Toronto, Canada)' %><br>
    <%= f.text_field :city_country, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :description %><br>
    <%= f.text_area :description, class: 'form-control' %>
  </div>
  <div class="actions">
    <%= f.submit class: 'btn btn-success' %>
    <%= link_to 'Back', customers_path, class: 'btn btn-default' %>
  </div>
<% end %>
